{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block title %}{{request.user.username}} {% endblock %}
{% block style %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <style>
        .row2{
            margin: 10px;
        }
        </style>

{% endblock %}

{% block content %}
        <!-- Page Content -->
    <div class="container">
        <!-- {{profile.get_absolute_url}} -->
        <!-- Portfolio Item Heading -->
        <div class="row row2">
            <div class="col-lg-12">
                <h1 class="page-header">
                        {{title}}
                </h1>
                <a href="{% url 'notifications_delete' %}" id="inactive_button" type="button" class="btn btn-danger">Usun wszystkie powiadomienia</a>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
    <div class="row row2">
        <div class="col-md-12">
            <table class='table'>
                {% for note in  notifications %}
                    <tr><td>{{ note|safe }}</td><td>{% if note.read %} Przecztane {% else %} Nieprzeczytane {% endif %}</td><!-- <td>{{note.pk}}<span style="color:red">Usun</span></td> --></tr>
                {% endfor %}
            </table>            
        </div>
    </div>



        <footer>
        <!-- Footer -->
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; FabrykaCodu.pl</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>
    <!-- /.container -->
</div>
{% endblock %}

