{% load staticfiles %}
 
 <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <ul class="nav navbar-nav navbar-right">
                <!-- <li><img  src="{% static 'img/ball3.png' %}" height="30px" width="30px"></li>  -->
                <li><a class="navbar-brand topnav" href="/">Zagraj z Nami!</a></li>
                </ul>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    {% if request.user.is_authenticated %}

                        <li class="dropdown">
                          <a href="#" class="notification-toggle dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span class="fa fa-envelope-o" style="font-size:30px;"></span> <span class="badge badge-notify" id='notifyCount' >0</span>
                            <span class="caret"></span>
                          </a>
                          <ul class="dropdown-menu" role='menu' id='notification_dropdown'>
                            
                          </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class='fa fa-user' style="font-size:30px;"></span> <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                    
                                <li><a href="/profile/{{request.user.username}}"><i class="fa fa-user"></i> Moje konto</a></li>
                                <li><a href="{% url 'dashboard' %}"><i class="fa fa-tachometer"></i> Panel główny</a></li>
                                <li><a href="{% url 'account_logout' %}"><i class="fa fa-power-off"></i> Wyloguj</a></li>
                            </ul>
                        </li>
                        
                    {% else %}
                        <li>
                            <a href="#about">O nas</a>
                        </li>
                        <li>
                            <a href="#services">Zasady</a>
                        </li>
                        <li>
                            <a href="#contact">Kontakt</a>
                        </li>
						<li>
                            <a href="{% url 'account_login' %}">Zaloguj się</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>